<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
                            http://www.springframework.org/schema/mvc  http://www.springframework.org/schema/mvc/spring-mvc.xsd
                            ">
<!--自动扫描包-->
    <context:component-scan base-package="com.ang">
<!--        排除Controller的包-->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

<!-- #########################一下是Mybatis-Spring整合配置########################################################    -->

<!--    引入Properties文件-->
    <context:property-placeholder location="classpath:jdbc.properties"/>

<!--    配置Druid数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
    </bean>

<!--    创建SqlSessionFactory工厂(对应java文件中的new SqlSessionFactory接口-->
<!--    这个类是Spring提供的Mybatis中是接口不可以用于注入，所以Spring在Mybatis-Spring包中提供了这个类-->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
<!--        配置数据源-->
<!--        用于替代MapperConfig.xml中的配置数据源的代码-->
        <property name="dataSource" ref="dataSource"/>
<!--        加载MapperConfig.xml配置文件-->
        <property name="configLocation" value="classpath:MapperConfig-Spring.xml"/>
    </bean>

<!--    扫描包为Mapper创建实现类-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.ang.dao"/>
    </bean>
</beans>